@media screen and (min-width: 800px) {
  .vacation-0 img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .vacation-1 img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  .vacation-2 img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .first {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 800px) {
  .the-future {
    margin-top: 370vh;
    font-size: 0.8rem;
    margin-left: 20px;
    width: 360px;
    height: 100px;
    left: 10px;
  }
}
@media screen and (min-width: 800px) {
  .dogOneStyle {
    transform: translateX(150%);
    /* margin-top: 400px; */
  }
}

@media screen and (min-width: 600px) {
  .dogThreeStyle {
    transform: translateX(-150%);
  }
}
