* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 500vh;
  background-color: rgb(108, 108, 108);
}

.nav {
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 120px;
  padding: 10px;
  background-color: rgb(245, 226, 226);
}

.column {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.column > img {
  width: 100px;
  display: flex;
  cursor: pointer;
  position: absolute;
  z-index: 99;
}

.vacay img {
  display: none;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.vacation-0 img {
  display: none;
  position: fixed;
}

.vacation2 img {
  display: none;
  position: fixed;
}

.vacation3 img {
  display: none;
  position: fixed;
}
